!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
	include ../includes/header
	body#body
		header#header
		section#content.container
			include ../templates/tpl_loading
		footer#footer
	include ../includes/footer