block
	|$(function (window, $, yepnope) {
	|	"use strict";
	|	var ichUrl = '/js/libraries/icanhaz-0.10.5.js';
	|	var load_files = [
	|		// Libraries
	|		'/js/libraries/mustache-0.7.3.js',
	|		ichUrl,
	|		'/js/libraries/jquery-ui-1.10.3.custom.min.js',
	|		'/js/libraries/bootstrap-3.0.0.rc1.min.js',
	|		'/js/libraries/moment-2.0.0.min.js',
	|		'/js/libraries/underscore-1.5.1.min.js',
	|		'/js/libraries/backbone-1.0.0.min.js',
	|		'/js/libraries/backbone.validate.js',
	|		// CSS
	|		'/css/ui-lightness/jquery-ui-1.10.3.custom.min.css',
	|		'/css/font-awesome.min.css',
	|		'/css/structure.css',
	|		// Core
	|		'/js/main.js',
	|		'/js/lib.js',
	|		'/js/router.js',
	|		// Models & Views
	|		#{files}
	|	];
	|	var increment = 100 / load_files.length;
	|	yepnope({
	|		load: load_files,
	|		callback: function(url,r,i){
	|			if(url === ichUrl){
	|				ich.grabTemplates();
	|			}
	|			$('#progress-bar-inner').stop().animate({width: ((increment * (parseInt(i) + 1)) + '%')})
	|		},
	|		complete: function(){
	|			window.setTimeout(function(){
	|				$('#loading').slideUp(function(){
	|					var PBF = new window.GSWAT();
	|					$(this).remove();
	|					_.extend(window,{PBF:PBF});
	|					PBF.init({CDN : '/'});
	|				});
	|			},1000);
	|		}
	|	});
	|}(window,$,yepnope));