@media screen and (min-width: 768px) {
  /* line 4, E:\GitHub\gswat-node\less\structure.less */
  body {
    padding-top: 54px;
  }
  /* line 7, E:\GitHub\gswat-node\less\structure.less */
  .masthead {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  /* line 11, E:\GitHub\gswat-node\less\structure.less */
  .masthead h1 {
    font-size: 100px;
  }
  /* line 14, E:\GitHub\gswat-node\less\structure.less */
  .masthead p {
    font-size: 30px;
    margin-left: 10%;
    margin-right: 10%;
  }
  /* line 19, E:\GitHub\gswat-node\less\structure.less */
  .subhead {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: left;
  }
}
/* line 26, E:\GitHub\gswat-node\less\structure.less */
i {
  margin-right: 5px;
}
/* line 30, E:\GitHub\gswat-node\less\structure.less */
#header-alert {
  position: absolute;
  width: 100%;
}
/* line 35, E:\GitHub\gswat-node\less\structure.less */
#header-alert {
  display: none;
}
/* line 38, E:\GitHub\gswat-node\less\structure.less */
#header-alert .container {
  padding: 20px 0 0;
  width: 25%;
}
/* line 44, E:\GitHub\gswat-node\less\structure.less */
.actions {
  text-align: right;
}
/* line 47, E:\GitHub\gswat-node\less\structure.less */
.actions.row {
  margin-bottom: 10px;
}
/* line 51, E:\GitHub\gswat-node\less\structure.less */
.actions .btn:not(:first-of-type) {
  margin-left: 5px;
}
/* line 57, E:\GitHub\gswat-node\less\structure.less */
form.form-horizontal .btn {
  margin-right: 5px;
}
/* line 62, E:\GitHub\gswat-node\less\structure.less */
form.form-horizontal .input-url .input-group-addon {
  word-break: keep-all;
}
/* line 67, E:\GitHub\gswat-node\less\structure.less */
form.form-horizontal .form-actions {
  padding-top: 10px;
}
/* line 74, E:\GitHub\gswat-node\less\structure.less */
footer .pull-right a {
  padding-left: 5px;
}
