/* line 1, ../../scss/structure.scss */
.player-name {
  font-weight: bold;
}

/* line 5, ../../scss/structure.scss */
#content .page {
  background: #FFF;
  min-height: 400px;
}

/* line 10, ../../scss/structure.scss */
html {
  background: #CCC;
}

/* line 13, ../../scss/structure.scss */
.team {
  font-weight: bold;
  text-transform: uppercase;
}

/* line 17, ../../scss/structure.scss */
.team.squad {
  color: #28AE00;
}

/* line 20, ../../scss/structure.scss */
#chatContents {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: scroll;
}
/* line 24, ../../scss/structure.scss */
#chatContents p {
  margin: 0 0 2px;
}

/* line 28, ../../scss/structure.scss */
#chat-quick-settings {
  position: absolute;
  z-index: 5;
  display: none;
}

/* line 33, ../../scss/structure.scss */
.team.team-US {
  color: #0000ff;
}

/* line 36, ../../scss/structure.scss */
.nav-bar .nav-bar-inner a:hover .element, .nav-bar .nav-bar-inner > ul.menu > li a:hover {
  color: rgba(45, 173, 237, 0.8);
}

/* line 39, ../../scss/structure.scss */
#header li i, #header li a {
  font-size: 12pt;
  line-height: 15px;
}

/* line 45, ../../scss/structure.scss */
#server-chat-page #chat-settings h2 {
  display: none;
}
/* line 49, ../../scss/structure.scss */
#server-chat-page .grid.page-region {
  margin: 0;
}
/* line 53, ../../scss/structure.scss */
#server-chat-page .hide-server-msgs .server-message {
  display: none;
}

/* line 58, ../../scss/structure.scss */
.team.team-RU {
  color: #CE2323;
}

/* line 61, ../../scss/structure.scss */
.page {
  max-width: 940px;
  margin: 0 auto;
}
